

  <!-- PRICING -->
  <section class="section" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Login</h1>
          <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy<br/> text of the printing and typesetting industry. </p>
        </div> 
      </div> <!-- end row -->

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
                           
            <% if (req.session.flash && req.session.flash.error) { %><%=req.flash('error')%><% } %> 

            <form action="/login" method="post">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
              
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- END PRICING -->
