

  <!-- PRICING -->
  <section class="section" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Welcome</h1>
          <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy<br/> text of the printing and typesetting industry. </p>
        </div> 
      </div> <!-- end row -->

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
                          
                Success loggedin
              
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- END PRICING -->
