<!-- HOME -->
  <section class="fun-facts bg-img-2 parallax" data-stellar-background-ratio="0.5">
    <div class="bg-overlay"></div>
    <div class="container">

            <div class="row text-center">
                <div class="col-md-3 col-sm-3 facts">
                  <i class="ti-pencil-alt"></i>
                    <h1><span class="counter">6577</span> k</h1>
                    <h4>Lines Coded</h4>
                </div>
                <!-- /facts-1 -->
                <div class="col-md-3 col-sm-3 facts">
                  <i class="ti-timer"></i>
                    <h1> <span class="counter">7800</span> +</h1>
                    <h4>Working Hours</h4>
                </div>
                <!-- /facts-2 -->
                <div class="col-md-3 col-sm-3 facts">
                  <i class="ti-briefcase"></i>
                    <h1 class="counter">399</h1>
                    <h4>No. Of Template</h4>
                </div>
                <!-- /facts-3 -->
                <div class="col-md-3 col-sm-3 facts">
                  <i class=" ti-user"></i>
                    <h1 class="counter">9995</h1>
                    <h4>Clients</h4>
                </div>
                <!-- /facts-4 -->
            </div>
    </div>
  </section>
  <!-- END HOME -->

  <!-- SCREENSHOTS -->
  <section class="section bg-gray" id="features">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <div class="feature-detail">
            <h2 class="title fadeIn animated wow" data-wow-delay=".1s">Clean and Ultra Modern Design</h2>
            <p class="sub fadeIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy<br/> text of the printing and typesetting industry. </p>

            <ul class="list-unstyled">
              <li>
                <i class=" ti-arrow-circle-right"></i>
                Aliquam a augue suscipit, bibendum luctus neque. Vestibulum laoreet rhoncus ipsum, bibendum ullamcorper hendrerit tellus.
              </li>
              <li>
                <i class=" ti-arrow-circle-right"></i>
                We put a lot of effort in design, as it’s the most important ingredient of successful website.
              </li>

            </ul>

            <a href="" class="btn btn-primary btn-rounded w-lg animated fadeInDown wow" data-wow-delay=".4s">Buy Now</a>
          </div>
        </div>

        <div class="col-sm-6">
          <img src="/images/mac.png" class="img-responsive">
        </div>

      </div>
    </div>
  </section>
  <!-- END SCREENSHOTS -->

  <!-- SCREENSHOTS -->
  <section class="section" id="features1">
    <div class="container">

      <div class="row">

        <div class="col-sm-5">
          <img src="/images/tab2.png" class="img-responsive screen-space">
        </div>


        <div class="col-sm-6 col-sm-offset-1">
          <div class="feature-detail">
            <h2 class="title fadeIn animated wow" data-wow-delay=".1s">Clean and Ultra Modern Design</h2>
            <p class="sub fadeIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy<br/> text of the printing and typesetting industry. </p>

            <ul class="list-unstyled">
              <li>
                <i class=" ti-arrow-circle-right"></i>
                Aliquam a augue suscipit, bibendum luctus neque. Vestibulum laoreet rhoncus ipsum, bibendum ullamcorper hendrerit tellus.
              </li>
              <li>
                <i class=" ti-arrow-circle-right"></i>
                We put a lot of effort in design, as it’s the most important ingredient of successful website.
              </li>

            </ul>

            <a href="" class="btn btn-primary btn-rounded w-lg animated fadeInDown wow" data-wow-delay=".4s">Buy Now</a>
          </div>
        </div>

        

      </div>
    </div>
  </section>
  <!-- END SCREENSHOTS -->


  
